---
permalink: /sitemaps/core.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for entry in collections.all %}
    {% if entry.url and entry.data.sitemap != false and entry.data.noindex != true and entry.url != "/sitemap.xml" and entry.url != "/sitemap.txt" and entry.url != "/robots.txt" and not entry.url.startsWith("/blog/") and not (entry.data.breadcrumbs and entry.data.breadcrumbs[1] and entry.data.breadcrumbs[1].name == "Locations") and entry.url != "/locations/" %}
  <url>
    <loc>{{ site.url }}{{ entry.url }}</loc>
    {% set lastModified = entry.data.updatedDateISO or entry.data.publishDateISO or entry.date %}
    {% if lastModified %}<lastmod>{{ lastModified | isoDate }}</lastmod>{% endif %}
  </url>
    {% endif %}
  {% endfor %}
  {% for entry in cityLocalPages %}
  <url>
    <loc>{{ site.url }}/{{ entry.slug }}/</loc>
  </url>
  {% endfor %}
</urlset>
