---
permalink: /sitemaps/interview.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/blog/interview/</loc>
  </url>
  {% for entry in blogInterviewPages | reverse %}
  <url>
    <loc>{{ site.url }}/blog/interview/{{ entry.slug }}/</loc>
    {% set lastModified = entry.updatedDateISO or entry.publishDateISO %}
    {% if lastModified %}<lastmod>{{ lastModified | isoDate }}</lastmod>{% endif %}
  </url>
  {% endfor %}
</urlset>
