---
layout: layout.njk
title: Done-For-You Applications
metaTitle: "Done-For-You Applications | Targeted Job Applications | Askia"
metaDescription: "We run targeted applications with tracking and weekly reporting so you can focus on interviews."
schemaType: "Service"
schemaName: "Done-for-you applications for high-impact roles"
schemaDescription: "Done-for-you applications for high-impact roles targeting $100K–$350K roles."
schemaServiceType: "Job application support"
breadcrumbs:
  - name: "Home"
    url: "/"
  - name: "Services"
    url: "/services/"
  - name: "Done-For-You Applications"
    url: "/done-for-you-applications/"
---
{% set page = servicePages.doneForYouApplications %}
{% include "service-page.njk" %}
