---
layout: layout.njk
title: Resume Writing Guide
metaTitle: "Resume Writing Guide | Impact-First Bullets for Senior Roles | Askia"
metaDescription: "How to write impact-first bullets that get senior-level callbacks. Resume templates, examples, and expert tips."
breadcrumbs:
  - name: "Home"
    url: "/"
  - name: "Resources"
    url: "/resources/"
  - name: "Resume"
    url: "/resources/resume/"
---
{% set hub = resourceHubs.topics.resume %}
{% include "resource-hub.njk" %}
