---
permalink: /sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <sitemap>
    <loc>{{ site.url }}/sitemaps/core.xml</loc>
  </sitemap>
  <sitemap>
    <loc>{{ site.url }}/sitemaps/locations.xml</loc>
  </sitemap>
  <sitemap>
    <loc>{{ site.url }}/sitemaps/blog.xml</loc>
  </sitemap>
  <sitemap>
    <loc>{{ site.url }}/sitemaps/salary.xml</loc>
  </sitemap>
  <sitemap>
    <loc>{{ site.url }}/sitemaps/interview.xml</loc>
  </sitemap>
</sitemapindex>
